.head {
  position: relative;
  gap: 250px;
}

.searchbar {
  height: 40px;
  background-color: #e0e6ff;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.search_input {
  color: rgb(40, 55, 255);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: black;
  line-height: 40px;
  width: 450px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  color: #e74c3c;
}

.search_icon {
  height: 35px;
  width: 35px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: red;
  text-decoration: none;
}

.main-container1 {
  margin-top: 85px;
}

.tab-content .active {
  color: #604be8 !important;
}

.tab-content {
  height: 75vh;
  padding: 15px;
  overflow: auto;
  background-color: #e9f1ff;
}

.item-list {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr) !important;
  gap: 20px;
  padding-left: 40px;
}

.item-card {
  width: 150px;
  height: 170px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 3px 10px #787786;
}

.item-card .img {
  align-items: center !important;
}

.item-card .img img {
  width: 85%;
  height: 90%;
  text-align: center;
}

.item-card .content {
  text-align: center;
}

.item-card .content h3 {
  color: #313131;
  font-size: 15px !important;
  font-weight: bold !important;
}

.item-card span {
  position: relative;
  margin-right: 10px;
}

.item-card .price {
  font-weight: bold;
  font-size: 15px;
  color: #604be8;
}

.item-card .discount {
  font-weight: bolder;
  font-size: 10px;
  color: #e74c3c;
}

.card-body {
  height: 53vh; /* Adjust this height as needed */
  overflow-y: hidden; /* Hide the overflow initially */
  transition: overflow-y 0.3s ease; /* Smooth transition */
  width: 100%;
  padding: 15px !important;
  overflow: auto;
  background-color: #e9f1ff;
}

.billing-con {
  width: 100%;
  height: 30%;
  padding: 10px;
  overflow: auto;
  background-color: #e9f1ff;
}

.btn-primary {
  background-color: #bcb2ff !important;
  font-weight: 500 !important;
  border: none !important;
  color: #604be8 !important;
}

.total-bill {
  margin-top: 10px;
  width: 90%;
  height: 50%;
  border: 2px solid #787786;
  padding: 20px;
  border-radius: 15px;
}

.subtotal h6,
.total h6,
.discount h6 {
  font-weight: 700 !important;
  margin-left: auto;
}

.subtotal h5,
.total h5,
.discount h5 {
  font-size: 15px;
  font-weight: 600;
  color: #434343;
}

hr {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.btn-section {
  justify-content: center;
}

.btn-section a {
  margin-left: 20px !important;
}

.input-area input {
  position: relative;
  outline: none !important;
  font-size: 15px !important;
  padding: 8px 20px;
  border-radius: 15px;
  border: 2px solid #604be8;
  background-color: transparent;
}

.quantity-container {
  margin-top: 10px;
  margin-right: 10px;
  width: 110px;
  border-radius: 10px;
  background-color: #6a4af1; /* Purple color */
  padding: 5px;
}

.quantity-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}

.quantity-btn:active {
  background-color: #5a3ac0;
}

#quantity-input {
  width: 15px;
  text-align: center;
  border: none;
  font-size: 15px;
  background-color: transparent;
  color: #fff !important;
  outline: none;
}

.desc-item {
  line-height: 5px;
  width: 180px;
}

.desc-item h5 {
  font-size: 15px;
  font-weight: 600;
}

.desc-item span {
  font-size: 12px;
  font-weight: 700;
  color: #ff3b31;
}

.cart-item .price h6 {
  display: flex;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.trash-icon i {
  color: #ff3b31;
}

/* popup form styles */

.container {
  display: flex;
  justify-content: center;
}

.form-payment {
  position: fixed;
  top: 12%;
  display: none;
  width: 40% !important;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.customerinfo-inputs input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 10px;
}

hr {
  margin: 20px 0;
}

.btn-paid {
  width: 30%;
  padding: 10px;
  border-radius: 4px;
}

.button {
  text-align: center;
}

.item-info {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 10px;
}

.item-info .price {
  justify-self: end;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}
